@charset "UTF-8";
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Lato");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* Relaway Font of the entire website */
@import url("https://fonts.googleapis.com/css?family=Raleway:200,400&display=swap");
/* New Font */
@font-face {
  font-family: QaskinWhitePersonalUse;
  src: url("måns-grebäck_qaskin-black-personal-use/QaskinWhitePersonalUse-67XD.ttf");
}

/* Navbar Variables */
/* Content Variables */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html, body {
  min-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px !important;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

/* Navbar Style */
header {
  border-bottom: 1.5px solid blue;
}

header img {
  height: 60px;
  width: 70px;
}

header nav .navbar-brand-name {
  font-size: 20px;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  color: black;
  text-decoration: none;
}

header nav .navbar-brand-name:after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 2px solid blue;
  margin: 0 auto;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

header nav .navbar-brand-name:hover:after {
  width: 92%;
}

header nav .navbar-toggler {
  border: 2px solid blue !important;
  text-decoration: none;
  cursor: pointer;
}

header nav #navbarNav .navbar-nav .nav-link::before, header nav #navbarNav .navbar-nav .nav-link::after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header nav #navbarNav .navbar-nav .nav-link::before {
  top: 20px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

header nav #navbarNav .navbar-nav .nav-link::after {
  bottom: 20px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

header nav #navbarNav .navbar-nav .nav-link {
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: black;
  position: relative;
  font-size: 15px;
  vertical-align: middle;
  line-height: 60px;
}

header nav #navbarNav .navbar-nav .nav-link:hover::before, header nav #navbarNav .navbar-nav .nav-link:hover::after {
  background-color: blue;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

header nav #navbarNav .navbar-nav .active::before, header nav #navbarNav .navbar-nav .active::after {
  background-color: blue;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/* Content Services */
.presentation-services {
  text-align: center;
  height: 280px;
  background-color: #1b212b;
}

.presentation-services h2 {
  color: white;
  font-size: 40px;
  text-decoration: none;
  display: inline-block;
}

.presentation-services h2:after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 2px solid blue;
  margin: 0 auto;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.presentation-services h2:hover:after {
  width: 92%;
}

.presentation-services p {
  color: white;
  margin-top: 1.5%;
}

hr {
  border-top: 2px solid blue;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

.next-content-div {
  background-color: white;
  margin-left: 5%;
}

.next-content-div #services-text .text-container {
  line-height: 1.6;
  margin-left: 3%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.next-content-div #services-text .text-container img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.next-content-div #services-text .text-container h2 {
  margin-left: 2%;
}

.next-content-div #services-text .text-container p {
  margin-top: 2%;
  color: #696f74;
}

.next-content-div #services-text .text-container img, .next-content-div #services-text .text-container h2 {
  display: inline-block;
}

.next-content-div #services-image {
  text-align: center;
}

.next-content-div #services-image img {
  width: 500px;
  height: 395px;
  display: block;
  margin: auto;
}

.professional-services {
  text-align: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.professional-services h1 {
  font-family: inherit;
  margin: 0 auto;
  display: inline-block;
  text-decoration: none;
}

.professional-services h1:after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 2px solid blue;
  margin: 0 auto;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.professional-services h1:hover:after {
  width: 92%;
}

.professional-services section {
  margin: 5% 0;
}

.professional-services section article {
  width: 60%;
  display: table;
  margin: 0 auto;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 2%;
  padding-top: 2%;
  -webkit-transition: .1s;
  transition: .1s;
  position: relative;
}

.professional-services section article:before, .professional-services section article:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  border: 3px solid transparent;
  background-size: 0 0;
  width: 0;
  height: 0;
  -webkit-filter: drop-shadow(0 0 8px black);
          filter: drop-shadow(0 0 8px black);
}

.professional-services section article:before {
  top: 0;
  left: 0;
}

.professional-services section article:after {
  bottom: 0;
  right: 0;
}

.professional-services section article:hover:before, .professional-services section article:hover:after {
  width: 100%;
  height: 100%;
}

.professional-services section article:hover:before {
  border-top-color: black;
  border-right-color: black;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  background-size: 0 0;
}

.professional-services section article:hover:after {
  border-bottom-color: black;
  border-left-color: black;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  background-size: 0 0;
}

.professional-services section img {
  width: 120px;
  height: 120px;
}

.professional-services section p {
  color: #696f74;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 2%;
}

.professional-services section:nth-of-type(2) {
  background-color: #1b212b;
  margin-top: 5%;
  padding: 5% 0;
}

.professional-services section:nth-of-type(2) article {
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  -webkit-transition: .1s;
  transition: .1s;
  position: relative;
}

.professional-services section:nth-of-type(2) article:before, .professional-services section:nth-of-type(2) article:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  border: 3px solid transparent;
  background-size: 0 0;
  width: 0;
  height: 0;
  -webkit-filter: drop-shadow(0 0 8px #fff);
          filter: drop-shadow(0 0 8px #fff);
}

.professional-services section:nth-of-type(2) article:before {
  top: 0;
  left: 0;
}

.professional-services section:nth-of-type(2) article:after {
  bottom: 0;
  right: 0;
}

.professional-services section:nth-of-type(2) article:hover:before {
  width: 100%;
  height: 100%;
}

.professional-services section:nth-of-type(2) article:hover:after {
  width: 100%;
  height: 100%;
}

.professional-services section:nth-of-type(2) article:hover:before {
  border-top-color: white;
  border-right-color: white;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  background-size: 0 0;
}

.professional-services section:nth-of-type(2) article:hover:after {
  border-bottom-color: white;
  border-left-color: white;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  background-size: 0 0;
}

.professional-services section:nth-of-type(2) .box.second > article {
  padding-top: 2%;
}

.professional-services section:nth-of-type(2) p, .professional-services section:nth-of-type(2) h3 {
  color: white;
}

#contact-div {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 210px;
  width: 100%;
  -webkit-text-emphasis: weight;
          text-emphasis: weight;
  position: relative;
}

#contact-div h1 {
  margin-top: 3%;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
}

#contact-div h1:after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 2px solid blue;
  margin: 0 auto;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

#contact-div h1:hover:after {
  width: 92%;
}

#contact-div .icons-author {
  position: absolute;
  left: 0;
  bottom: 0;
}

#contact-div .contact-div-text-container {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#contact-div .contact-div-button-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#contact-div button {
  margin-top: 3%;
  width: 140px;
  height: 50px;
  outline: none;
  font-family: inherit;
  font-size: 16px;
  border: 2px solid #1cbe83;
  background-color: transparent;
  border: 1px solid #1cbe83;
  border-radius: 100px;
  padding: .3em 1.2em;
  background-size: 200% 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #1cbe83));
  background-image: linear-gradient(to right, transparent 50%, #1cbe83 50%);
  -webkit-transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, color 0.5s ease 0s, background-color 0.5s ease;
  transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, color 0.5s ease 0s, background-color 0.5s ease;
}

#contact-div button:hover {
  color: white;
  background-color: #1cbe83;
  background-position: -100% 100%;
}

#contact-div a, #contact-div a:visited, #contact-div a:focus, #contact-div a:active {
  text-decoration: none !important;
  color: black;
}

#contact-div .last-button > a {
  color: #1cbe83;
}

#contact-div .last-button:hover > a {
  color: white;
}

@-webkit-keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Footer */
footer {
  background-color: black;
  overflow: hidden;
  width: 100%;
}

footer .footer-first-div {
  text-align: center;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
}

footer .footer-first-div h1 {
  color: white;
  font-size: 20px;
  display: inline-block;
  position: relative;
  top: 10%;
}

footer .footer-first-div h1:after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 2px solid blue;
  margin: 0 auto;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

footer .footer-first-div h1:hover:after {
  width: 92%;
}

footer .footer-first-div img {
  height: 60px;
  width: 70px;
  margin-top: 5%;
  margin-left: 5%;
}

footer .footer-contact-number-div,
footer .footer-schedule-div, footer .footer-address-div {
  margin-top: 0.5%;
}

footer .footer-contact-number-div img,
footer .footer-schedule-div img, footer .footer-address-div img {
  width: 35px;
  height: 35px;
}

footer p {
  color: white;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 5px;
}

footer .footer-contact-form-div > p {
  margin-top: 1%;
}

footer .footer-contact-number-div > img {
  margin-top: 6%;
}

footer .footer-address-div > img {
  margin-top: 5%;
}

footer .footer-schedule-div > img {
  margin-top: 4.7%;
}

footer .footer-contact-form-div > h1 {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

/* Media Queries */
@media screen and (max-width: 431px) {
  .navbar-brand-name {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  #services-image img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .professional-services article {
    padding-top: 8%;
  }
}

@-webkit-keyframes beforeLineAnim {
  45%, 50% {
    background-position: -100% 0;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50%, 95% {
    -webkit-transform: scale(1, -1);
            transform: scale(1, -1);
  }
  95% {
    background-position: 80% 0;
  }
}

@keyframes beforeLineAnim {
  45%, 50% {
    background-position: -100% 0;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50%, 95% {
    -webkit-transform: scale(1, -1);
            transform: scale(1, -1);
  }
  95% {
    background-position: 80% 0;
  }
}

@-webkit-keyframes afterLineAnim {
  20%, 25% {
    background-position: -100% 0;
  }
  20% {
    -webkit-transform: scale(1) rotate(-90deg);
            transform: scale(1) rotate(-90deg);
  }
  25% {
    -webkit-transform: scale(-1, 1) rotate(-90deg);
            transform: scale(-1, 1) rotate(-90deg);
  }
  70%, 75% {
    background-position: 100% 10%;
  }
  70% {
    -webkit-transform: scale(-1, 1) rotate(-90deg);
            transform: scale(-1, 1) rotate(-90deg);
  }
  75% {
    -webkit-transform: scale(1, 1) rotate(-90deg);
            transform: scale(1, 1) rotate(-90deg);
  }
}

@keyframes afterLineAnim {
  20%, 25% {
    background-position: -100% 0;
  }
  20% {
    -webkit-transform: scale(1) rotate(-90deg);
            transform: scale(1) rotate(-90deg);
  }
  25% {
    -webkit-transform: scale(-1, 1) rotate(-90deg);
            transform: scale(-1, 1) rotate(-90deg);
  }
  70%, 75% {
    background-position: 100% 10%;
  }
  70% {
    -webkit-transform: scale(-1, 1) rotate(-90deg);
            transform: scale(-1, 1) rotate(-90deg);
  }
  75% {
    -webkit-transform: scale(1, 1) rotate(-90deg);
            transform: scale(1, 1) rotate(-90deg);
  }
}
/*# sourceMappingURL=services-style.css.map */